*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(244,244,246);
    padding-top:44px ;
    padding-bottom: 49px;
}
.DS_header{
    background: rgb(40,133,202);
    line-height: 44px;
    font-size: 18px;
    text-align: center;
    color: white;
    width: 100%;
    /*定位*/
    left: 0;
    top: 0;
    position: fixed;
    /*优先级显示*/
    z-index:9999;

}
.DS_second_section img{
    width:100%;
}
footer a{
    display: table-cell;
    width: 20%;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
footer {
    display: table;
    width: 100%;
    background: black;
    height: 49px;
    left: 0;
    bottom: 0;
    position: fixed;
}
footer a span{
    display: block;
    color: white;
    font-size: 12px;
}

footer a img{
    width: 18px;
}
.BP_first_section{
    display: table;
    width: 100%;
    background: rgb(244, 244, 246);
    height: 44px;

    left:0;
    top: 44px;
    position: fixed;
}

.BP_first_section a{
    display: table-cell;
    width: 33.3%;
    text-decoration: none;

    text-align: center;
    vertical-align: middle;
}

.BP_first_section a span{
    color: black;
}
.BP_external_div{
    background: white;
    text-align: center;
}

.BP_span{
    font-size: 14px;
}

.BP_img{
    width: 100%;
}

.BP_first_p{
    font-size: 10px;
    color:gray;
}
.BP_external_div_sec {
    text-align: center;
}

.BP_inner_div{
    text-align: left;
    padding-left: 20px;
    font-size: 10px;
    color: gray;
    line-height: 2em;
}
